* {
    box-sizing: border-box;
}
h1, h2, h3, a, p {
    margin: 0;
    padding: 0;
}
a {
    display: block;
    color: #590D56;
}
body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    letter-spacing: .1em;
}
.container {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
}
.headingH1 {
    font-size: 55px;
    font-family: 'Merriweather', sans-serif;
}
.headingH2 {
    font-size: 30px;
    font-weight: 700;
    font-family: 'Merriweather', sans-serif;
}
.descr {
    color: rgba(119, 119, 119, 1);
    margin-top: 38px;
}
.btn {
    font-size: 18px;
    background: none;
    border: 1px solid #47093E;
    color: #47093E;
    border-radius: 33px;
    padding: 20px 78px 25px;
    cursor: pointer;
    transition: .3s ease;
}
.btn:hover {
    color: rgba(71, 9, 62, 0.7);
    border: 1px solid rgba(71, 9, 62, 0.7);
}
.header {
    padding: 28px 0 152px;
}
.header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__wrapper {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
}
.header__wrapper-content {
    max-width: 360px;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.header__content-action {
    margin-top: 159px;
}
.header__nav-list {
    display: flex;
    align-items: center;
}
.nav-list__item {
    display: block;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}
.nav-list__item:not(:last-child) {
    margin-right: 45px;
}
.content-action__item {
    display: flex;
    align-items: center;
}
.content-action__item:not(:last-child) {
    margin-bottom: 32px;
}
.action__item-text {
    max-width: 150px;
    width: 100%;
    font-size: 18px;
}
.action__item-icon {
    margin-right: 30px;
}
.swiper {
    width: 100%;
    height: 100%;
    padding-bottom: 90px;
    position: relative;
}
.swiper-slide {
    text-align: center;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.swiper-button-next::after, .swiper-button-prev::after {
    content: none;
  }
.arrow {
    top: 90%;
}
.swiper-button-prev {
    left: 50%;
    margin-left: -60px;
}
.swiper-button-next {
    right: 50%;
    margin-right: -60px;
}
.header__btn {
    position: absolute;
    top: 100%;
    left: 50%;
}
.trigger__wrapper {
    margin-top: 103px;
    display: flex;
    justify-content: space-between;
}
.trigger__item {
    margin-bottom: 0 !important;
}

.trigger__item-text {
    text-decoration: none;
    color: #242424;
    letter-spacing: .1em;
    max-width: 205px;
    width: 100%;
}
.trigger__item-descr {
    display: flex;
    align-items: flex-end;
    max-width: 243px;
    width: 100%;
}

.extra-icon {
    visibility: hidden;
}
.trigger__item:hover .extra-icon {
    visibility: visible;
}
.complex {
    margin-top: 128px;
}
.complex__wrapper {
    display: flex;
}
.complex__content {
    margin-left: 30px;
}
.complex__content-item {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid rgba(89, 13, 86, 1);
    padding: 13px 177px 32px 0;
    position: relative;
    height: 194px;
    max-width: 848px;
    width: 100%;
}
.complex__content-item:last-child {
    border-bottom: 1px solid rgba(89, 13, 86, 1);
}
.ball {
    position: absolute;
}
.ball1 {
    left: 118px;
}
.ball2 {
    right: 0;
    bottom: 25px;
}
.ball3 {
    left: 51px;
    top: -21px;
}
.ball4 {
    right: 42px;
    bottom: -21px;
}
.ball5 {
    left: 125px;
    bottom: -10px;
}
.textContent {
    max-width: 263px;
    width: 100%;
}
.content-item__link {
    align-self: flex-end;
    font-size: 18px;
}
.content-item__text {
    align-self: center;
    font-size: 30px;
    font-weight: 300;
    max-width: 376px;
    width: 100%;
    margin-left: 159px;
}
.production {
    padding-top: 290px;
}
.production__wrapper {
    display: flex;
}
.production__heading {
    max-width: 312px;
}
.video {
    position: relative;
}
.videoPlay-icon {
    position: absolute;
    width: 67px !important;
    height: 67px !important;
    top: 40%;
    left: 40%;
}
.production .swiper-slide {
    text-align: center;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.production .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.production .swiper-wrapper {
    align-items: center;
}
.opinions {
    margin-top: 212px;
}
.opinions__wrapper {
    display: flex;
    justify-content: space-between;
}
.opinions .swiper {
    padding-bottom: 50px;
}
.swiper-pagination1 {
    width: 50px;
}
.swiper-pagination1 .swiper-pagination-bullet {
    background: none;
    border: 1px solid #590D56;
    width: 12px;
    height: 12px;
}
.swiper-pagination1 .swiper-pagination-bullet-active {
    background: #590D56;
}
.info {
    padding: 217px 0 83px;
}
.info__wrapper {
    display: flex;
    justify-content: space-between;
}
.info__content-item {
    padding: 24px 24px 0;
}
.info__content {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(7, 5vw);
    grid-gap: 17px;
    cursor: pointer;
}
.info__content-item1 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 8;
    background-image: url('../img/info/1.png');
    background-repeat: none;
    background-size: cover;
    background-position: center center;
}
.info__content-item2 {
    grid-column-start: 4;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 5;
    background-image: url('../img/info/2.png');
    background-repeat: none;
    background-size: cover;
    background-position: center center;
}
.info__content-item3 {
    grid-column-start: 7;
    grid-column-end: 10;
    grid-row-start: 1;
    grid-row-end: 5;
    background-image: url('../img/info/3.png');
    background-repeat: none;
    background-size: cover;
    background-position: center center;
}
.info__content-item4 {
    grid-column-start: 4;
    grid-column-end: 10;
    grid-row-start: 5;
    grid-row-end: 8;
    background: #47093E;
}
.info__content-item-text {
    color: #fff;
    font-size: 36px;
    font-weight: 300;
}
.info__btn {
    float: right;
    margin-top: 36px;
}
.where {
    margin-top: 96px;
}
.where__wrapper {
    display: flex;
    justify-content: space-between;
}
.where__content-btnGroup {
    display: flex;
    margin-top: 34px;
}
.where__btn:not(:last-child) {
    margin-right: 30px;
}
