* {
    box-sizing: border-box;
    /* outline: 1px solid red; */
}
html {
    overflow-x: hidden;
}
h1, h2, h3, a, p {
    margin: 0;
    padding: 0;
}
a {
    display: block;
    color: #590D56;
}
body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    letter-spacing: .1em;
    overflow-x: hidden;
}
.container {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    padding: 0 10px;
}
.headingH1 {
    font-size: 50px;
    font-family: 'Merriweather', sans-serif;
}
.headingH2 {
    font-size: 30px;
    font-weight: 700;
    font-family: 'Merriweather', sans-serif;
}
.descr {
    color: rgba(119, 119, 119, 1);
    margin-top: 38px;
}
.btn {
    font-size: 18px;
    background: none;
    border: 1px solid #47093E;
    color: #47093E;
    border-radius: 33px;
    padding: 20px 78px 25px;
    cursor: pointer;
    transition: .3s ease;
}
.btn:hover {
    color: rgba(71, 9, 62, 0.7);
    border: 1px solid rgba(71, 9, 62, 0.7);
}
.header {
    padding: 28px 0 152px;
}
.header__nav {
    display: flex;
    justify-content: space-between;
}
.header__wrapper {
    margin-top: 60px;
    display: flex;
    
    justify-content: space-between;
    overflow: hidden;
    position: relative;
}
.header__btn  {
    color: #fff;
    border-color: #fff;
    transition: .3s ease;
}
.header__btn:hover {
    color: rgba(255, 255, 255, 0.7);
    border-color: rgba(255, 255, 255, 0.7);
}
.swiper-slide {
    background: none !important;
}
.ocean {
    position: absolute;
    bottom: 0;
    left: -500px;
}
.wave {
    z-index: -1;
    background: url("../img/wave.svg") repeat-x;
    position: absolute;
    top: -760px;
    width: 6400px;
    height: 760px;
    animation: wave 200s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
    transform: translate3d(0, 0, 0);
}
.wave:nth-of-type(2) {
    top: -770px;
    animation: wave 200s cubic-bezier(0.36, 0.45, 0.63, 0.53) -0.125s infinite, swell 10s ease -1.25s infinite;
    opacity: .6;
  }
  @keyframes wave {
    0% {
      margin-left: 0;
      margin-bottom: 1600px;
    }
    100% {
      margin-left: -1600px;
      margin-bottom: -1600px;
    }
  }
  @keyframes swell {
    0%,
      100% {
      transform: translate3d(0, -25px, 0);
    }
    50% {
      transform: translate3d(0, 5px, 0);
    }
  }
  .endWave{
      display:none;
  }
.header__wrapper-content {
    max-width: 360px;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.header__content-action {
    margin-top: 159px;
}
.header__nav-list {
    display: flex;
    align-items: center;
}
.nav-list__item {
    display: block;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}
.nav-list__item:not(:last-child) {
    margin-right: 45px;
}
.content-action__item {
    display: flex;
    align-items: center;
}
.content-action__item:not(:last-child) {
    margin-bottom: 32px;
}
.action__item-text {
    max-width: 150px;
    width: 100%;
    font-size: 18px;
}
.action__item-icon {
    margin-right: 30px;
}
.swiper {
    width: 100%;
    height: 100%;
    padding-bottom: 90px;
    position: relative;
}
.swiper-slide {
    text-align: center;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.swiper-button-next::after, .swiper-button-prev::after {
    content: none;
  }
.arrow {
    top: 75%;
}
.swiper-button-prev {
    left: 50%;
    margin-left: -60px;
}
.swiper-button-next {
    right: 50%;
    margin-right: -60px;
}
.header__btn {
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -130px;
}
.header__wrapper-slider {
    padding-bottom: 200px;
}
.trigger__wrapper {
    margin-top: 103px;
    display: flex;
    justify-content: space-between;
}
.trigger__item {
    margin-bottom: 0 !important;
}
.trigger__line {
    cursor: pointer;
}
.trigger__line-text {
    font-size: 48px;
    font-weight: 300;
    text-transform: uppercase;
    color: rgba(89, 13, 86, 1);
}
.trigger__item-text {
    text-decoration: none;
    color: #242424;
    letter-spacing: .1em;
    max-width: 205px;
    width: 100%;
}
.trigger__item-descr {
    display: flex;
    align-items: flex-end;
    max-width: 243px;
    width: 100%;
}
.where__content-btnGroup button {
    transition: .3s ease;
}
.info__btn:hover {
    background: #590D56;
    color: #fff;
}
.where__content-btnGroup button:hover {
    background: #590D56;
    color: #fff;
}
.extra-icon {
    visibility: hidden;
}
.trigger__item:hover .extra-icon {
    visibility: visible;
}
.complex {
    margin-top: 128px;
}
.complex__wrapper {
    display: flex;
}
.complex__content {
    margin-left: 30px;
}
.complex__content-item {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid rgba(89, 13, 86, 1);
    padding: 13px 177px 32px 0;
    position: relative;
    height: 194px;
    max-width: 848px;
    width: 100%;
}
.complex__content-item:last-child {
    border-bottom: 1px solid rgba(89, 13, 86, 1);
}
.ball {
    position: absolute;
   
}
.ball1 {
    left: 118px;
}

.ball2 {
    right: 0;
    bottom: 25px;
}
.ball3 {
    left: 51px;
    top: -21px;
}
.ball4 {
    right: 42px;
    bottom: -21px;
}
.ball5 {
    left: 125px;
    bottom: -10px;
}
.ball1, .ball2, .ball3, .ball4, .ball5 {
    animation: spin 2s infinite linear;
}
@keyframes spin {
    100% {
      transform: rotate(360deg);
    }
  }
.textContent {
    max-width: 263px;
    width: 100%;
}
.content-item__link {
    align-self: flex-end;
    font-size: 18px;
    max-width: 150px;
    width: 100%;
}
.content-item__text {
    align-self: center;
    font-size: 30px;
    font-weight: 300;
    max-width: 376px;
    width: 100%;
    margin-left: 159px;
}
.production {
    padding: 290px 0 200px;
    background: url("../img/win1.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}
.production__wrapper {
    display: flex;
}
.production__heading {
    max-width: 312px;
}
.video {
    position: relative;
}
.videoPlay-icon {
    position: absolute;
    width: 67px !important;
    height: 67px !important;
    top: 40%;
    left: 40%;
}
.production .swiper-slide {
    text-align: center;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.production .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.production .swiper-wrapper {
    align-items: center;
}
.production__prev-arrow, .production__next-arrow {
    top: 50% !important;
    left: 100%;
    margin-left: -60px !important;
}
.production__prev-arrow {
    top: 30% !important;
}
.production__btn {
    position: absolute;
    left: 100%;
    margin-left: -300px;
    color: #fff;
    border-color: #fff;
    transition: .3s ease;
}
.production__btn:hover {
    color: rgba(255, 255, 255, 0.7);
    border-color: rgba(255, 255, 255, 0.7);
}
.production__popup {
    position: absolute;
    top: 10%;
    right: 25%;
    border: 1px solid #590D56;
    background: #fff;
    z-index: 30;
    padding: 40px 15px 20px;
    border-radius: 20px;
    opacity: 0;
    transition: opacity .5s linear; 
    visibility: .5s linear;
}
.show {
    opacity: 1;
    visibility: visible;
}
.productionSwiper {
    padding-right: 100px;
}
.productionSwiper .swiper-button-prev,  .productionSwiper .swiper-button-next {
    margin: 0 !important;
    left: 90%;
}  
.production__popup-closeBtn {
    position: absolute;
    right: 10px;
    top: 5px;
    background: none;
    border: none;
    cursor: pointer;
}
.opinions {
    margin-top: 212px;
}
.opinions__wrapper {
    display: flex;
    justify-content: space-between;
}
.opinions .swiper {
    padding-bottom: 50px;
}
.swiper-pagination1 {
    width: 50px;
}
.swiper-pagination1 .swiper-pagination-bullet {
    background: none;
    border: 1px solid #590D56;
    width: 12px;
    height: 12px;
}
.swiper-pagination1 .swiper-pagination-bullet-active {
    background: #590D56;
}
.info {
    padding: 217px 0 83px;
    background: url("../img/win2.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    
}
.info__wrapper {
    display: flex;
    justify-content: space-between;
}
.info__content-item {
    padding: 24px 24px 0;
    transition: .3s ease;
}
.info__textContent-descr {
    color: #fff;
}
.info__content-item:hover {
    box-shadow: 5px 5px 15px rgba(130, 130, 130, 1);
}
.info__content {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(7, 5vw);
    grid-gap: 17px;
    cursor: pointer;
}
.info__content-item1 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 8;
    background-image: url('../img/info/1.png');
    background-repeat: none;
    background-size: cover;
    background-position: center center;
}
.info__content-item2 {
    grid-column-start: 4;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 5;
    background-image: url('../img/info/2.png');
    background-repeat: none;
    background-size: cover;
    background-position: center center;
}
.info__content-item3 {
    grid-column-start: 7;
    grid-column-end: 10;
    grid-row-start: 1;
    grid-row-end: 5;
    background-image: url('../img/info/3.png');
    background-repeat: none;
    background-size: cover;
    background-position: center center;
}
.info__content-item4 {
    grid-column-start: 4;
    grid-column-end: 10;
    grid-row-start: 5;
    grid-row-end: 8;
    background: #47093E;
}
.info__content-item-text {
    color: #fff;
    font-size: 36px;
    font-weight: 300;
}
.info__btn {
    float: right;
    margin-top: 36px;
}
.where {
    margin-top: 96px;
}
.where__wrapper {
    display: flex;
    justify-content: space-between;
}
.where__content-btnGroup {
    display: flex;
    margin-top: 34px;
}
.where__btn:not(:last-child) {
    margin-right: 30px;
}
.footer {
    margin-top: 109px;
    padding: 30px 0 24px;
    box-shadow:  rgba(71, 9, 62, 0.5)  0 -60px 100px -100px,
                 rgba(255, 255, 255, 0) 0 -60px 100px -100px;
}
.footer__heading {
    font-size: 31px;
    color: #590D56;
    font-weight: 400;
}
.footer__wrapper {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}
.footer__item {
    max-width: 334px;
    width: 100%;
}
.footer__item-link {
    font-size: 12px;
    color: rgba(122, 122, 122, 1);
    font-weight: 300;
    text-decoration: none;
}
.footer-link {
    font-size: 14px;
    color: rgba(130, 130, 130, 1);
    font-weight: 400;
}
.footer__item-link:not(:last-child) {
    margin-bottom: 35px;
}
.footer__item-socialGroup {
    display: flex;
    align-items: center;
}
.socialGroup__item:not(:last-child) {
    margin-right: 40px;
}
.footer__item-descr {
    display: flex;
    justify-content: space-between;
    margin-top: 35px;
}
.footer__item-descr-text {
    font-size: 16px;
    color: rgba(130, 130, 130, 1);
    font-weight: 300;
}
.header__container {
    position: relative;
}
.header__menu {
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    display: none;
}
.header__menu-list {
    margin-top: 154px;
}
.menu__list-item {
    font-weight: 700;
    color: #000;
    font-family: 'Merriweather', sans-serif;
    text-decoration: none;
}
.menu__list-item:not(:last-child) {
    margin-bottom: 54px;
}


@media (max-width: 1200px) {
    .header {
        padding-bottom: 100px;
    }
    .container {
        max-width: 900px;
    }
    .headingH1 {
        font-size: 40px;
    }
    .complex__content-item {
        max-width: 700px;
    }
    .content-item__link {
        font-size: 14px;
    }
    .content-item__text {
        font-size: 18px;
        margin-left: 29px;
        max-width: 280px;
    }
    .btn {
        padding: 15px 60px;
        font-size: 14px;
    }
    .where__content img{
        max-width: 600px;
    }
    .ball {
        width: 100px;
    }
    .ball1 {
        left: 25px;
    }
    .ball2 {
        right: 0;
        bottom: 25px;
    }
    .ball3 {
        left: 51px;
        top: -21px;
    }
    .ball4 {
        right: 42px;
        bottom: -21px;
    }
    .ball5 {
        left: 25px;
        top: -10px;
    }
    .header__wrapper-slider {
        padding-bottom: 150px;
    }
    .arrow img {
        width: 30px;
    }
    .header__content-action {
        margin-top: 80px;
    }
    .headingH2 {
        font-size: 20px;
    }
}
@media (max-width: 750px) {
    .header__wrapper-slider {
        padding-bottom: 100px;
    }
    .arrow {
        top: 70%;
    }
    .ball {
        width: 70px;
    }
    .ball2 {
        right: 20px;
    }
    .action__item-icon {
        width: 40px;
    }
    .trigger__item-text {
        font-size: 14px;
    }
    .production {
        padding-top: 150px;
    }
    .opinions {
        margin-top: 150px;
    }
    .complex__content-item {
        padding-right: 40px;
    }
    .content-item__text, .descr, .info__content-item-text {
        font-size: 14px;
    }
    .info__content-item {
        padding: 12px 12px;
    }
    .textContent {
        max-width: 170px;
    }
    .where__btn:not(:last-child)  {
        margin-right: 15px;
    }
    .where-img img {
        width: 400px;
    }
    .where__btn {
        padding: 15px 30px;
    }
    .footer__item-descr-text {
        font-size: 14px;
    }
}
@media (max-width: 749px) {
    .btn {
        padding: 11px 26px 7px;
    }
    .header__nav-logo img {
        width: 135px;
    }
    .nav-list__item-icon {
        width: 24px;
    }
    .nav-list__item:not(:last-child) {
        margin-right: 9px;
    }
    .header__wrapper, .production__wrapper, .opinions__wrapper, .info__wrapper, .where__wrapper, .footer__wrapper, .trigger__wrapper {
        margin-top: 30px;
        flex-direction: column;
    }
    .header__content-action {
        display: none;
    }
    .headingH1 {
        font-size: 47px;
    }
    .header__slide {
        content: url("../img/solo.png");
    }
    .header {
        padding: 16px 0 21px;
    }
    .header__wrapper-slider {
        padding-bottom: 140px;
    }
    .header__btn {
        margin-left: -77px;
    }
    .swiper-button-next {
        margin-right: -35px;
    }
    .swiper-button-prev {
        margin-left: -35px;
    }
    .header__wrapper-slider {
        padding-bottom: 100px;
    }
    .arrow {
        top: 80%;
    }
    .trigger__wrapper, .complex, .production, .opinions, .info, .where, .footer {
        margin-top: 30px;
    }
    .complex__wrapper {
        flex-direction: column;
    }
    .textContent {
        max-width: initial;
        width: 100%;
    }
    .descr {
        margin-top: 20px;
    }
    .complex__content {
        margin: 15px 0 0;
    }
    .complex__content-item {
        padding-right: 0;
    }
    .content-item__link {
        font-size: 12px;
    }
    .info__btn  {
        margin-top: 15px;
    }
    .where-img img {
        width: 350px;
    }
    .where__content-btnGroup {
        margin-top: 15px;
    }
    .footer__heading {
        font-size: 20px;
    }
    .footer__wrapper {
        margin-top: 15px;
    }
    .footer__item:not(:last-child) {
        margin-bottom: 10px;
    }
    .content-action__item:not(:last-child)  {
        margin-bottom: 10px !important;
    }
    .production__popup {
        padding: 10px;
    }
    .videoPlay-icon {
        width: 30px !important;
        height: 30px !important;
    }
}